/* 
Fuentes y Colores:

font-family: 'Fjalla One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Baloo Tamma 2', cursive;
font-family: 'Roboto Condensed', sans-serif;

background: #05051C;
background: #09092F;
background: #F0F0F0;
 */


/*General*/
*{
    margin: 0;
    padding: 0;
    transition: 100ms;
}
body{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    color: #64D869;
    grid-column-end: span 2;
}
/*General*/


/*Header*/
.header{
    height: 5em;
    background: #05051C;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em ;
}
.header__imgContainer{
    height: inherit;
}
.header__imgContainer img{
    height: inherit;
}
.header__navbar{
    height: inherit;    
}
.header__navbar--list{
    list-style: none;
    display: flex;
    height: inherit;
}
.header__navbar--list li{
    margin: 0 0 0 2em;
    align-self: center;
}
.header__navbar--list li a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.header__navbar--list li a:hover{
    text-decoration: underline;
}
.icon-menu{
    display: none;
    position: fixed;
    font-size: 2em;
    color: white;
    padding: 0.3em;
    border-radius: 50%;
    right: 0.4em;
    top: 0.4em;
    background: rgba(5, 5, 50, .9);
}
/*Header*/


/*Hero*/
.hero{
    background: #09092F;
    padding: 1.5em;
    display: grid;
    grid-template-columns: minmax(300px, 800px);
    justify-content: center;
}
.hero__title{
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    text-align: center;
}
.hero__imgContainer{
    width: 100%;
    text-align: center;
    margin: 1.5em 0 0;
}
.hero img{
    width: 60%;
    min-width: 300px;
}
/*Hero*/


/*Aboutme*/
.aboutme{
    background: #F0F0F0;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em 0;
}
.aboutme__info{
    display: grid;
    grid-template-columns: minmax(300px, 800px);
    justify-content: center;
}
.aboutme__info h3{
    font-size: 2.5em;
    font-family: 'Fjalla One', sans-serif;
}
.aboutme__info--text{
    margin: .5em 0;
    font-size: 1.5em;
}
.aboutme__info--imgContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.aboutme__info--imgContainer img{
    width: 6em;
    margin-top: 2em;
}
/*Aboutme*/


/*Proyectos*/
.projects{
    background: #F0F0F0;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em 0;
}
.project{
    padding: 1.5em;
    background: white;
    border: 2px solid #c2c2c2;
    border-radius: 1em;
    display: grid;
    grid-template-areas:"logo details"
                        ". info";
    gap: .5em 1em;
}
.project__container{
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 600px));
    gap: 1.5em 1em;
    justify-content: center;
}
.project__logoContainer{
    grid-area: logo;
    width: 7em;
    height: 7em;
}
.project__detailsContainer{
    grid-area: details;
    font-family: 'Fjalla One', sans-serif;
}
.project__infoContainer{
    grid-area: info;
    display: grid;
}
.project__logoContainer--logo{
    width: 100%;
    border-radius: 50%;
}
.project__title{
    font-size: 1.5em;
}
.project__subtitle{
    font-size: 1em;
    margin: 1em 0;
}
.project__date{
    font-size: 0.8em;
}
.project__source{
    font-size: 1em;
    margin: 1em 0;
}
.project__description{
    font-size: 1em;
    font-weight: 400;
}
.project__img{
    width: 100%;
    border-radius: 1em;
}
/*Proyectos*/


/*Contacto*/
.contact{
    background: #09092F;
    padding: 1.5em;
    color: white;
}
.contact__container{
    display: grid;
    grid-template-columns: minmax(200px, 600px);
    gap: 1.5em 0;
    justify-content: center;
    margin-top: 1.5em;
}
.contact__whatsapp h3{
    font-size: 2em;
}
.contact__whatsapp p{
    font-size: 1.2em;
    margin: 1em 0;
}
.contact__whatsapp i{
    font-size: 1.5em;
    color: #64D869;
}
.contact__socialMedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    font-size: 2.5em;
    padding: .4em;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
.icons:hover {
    color: #09092F;
    background: white;
}
/*Contacto*/


/*Footer*/
.footer{
    background: #05051C;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    flex-wrap: wrap;
}
/*Footer*/


/*MediaQuery*/
@media screen and (max-width:1080px){
    .project__container{
        grid-template-columns: minmax(500px, 600px);
    }
}
@media screen and (max-width: 768px){
    .header{
        justify-content: center;
    }
    .header__navbar{
        position: fixed;
        background: rgba(5, 5, 28, .9);
        z-index: 2;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 500ms;
    }
    .header__navbar--list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 100%;
    }
    .header__navbar--list li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 2em 0;
        text-align: center;
        background: rgba(5, 5, 28, .3);
        margin-top:2px;
        border-radius: 20px;
    } 
    .header__navbar--list li a{
        height: 1em;
        text-align: center;
        font-size: 2em;
        font-family: 'Fjalla One', sans-serif;
    }
    .is-active{
        right: 0;
    }
    .icon-menu{
        display: block;
        z-index: 3;
    }
}
@media screen and (max-width: 550px){
    body{
        font-size: 14px;
    }
    .hero__title{
        text-align: left;
    }
    .project__container{
        grid-template-columns: 1fr;
    }
    .project{
        grid-template-columns: 7em 1fr;
        grid-template-areas:"logo details"
                            "info info";
    }
}
@media screen and (max-width:460px){

}
@media screen and (max-width:320px){

}
